[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
django = "*"
djangorestframework = "*"
cython = "*"
cwb-python = "*"
configparser = "*"
mysqlclient = "*"
django-crispy-forms = "*"
django-allauth = "*"
jseg = "*"
jieba = "*"
pexpect = "*"
django-extensions = "*"
python-memcached = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
