[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
django = "*"
djangorestframework = "*"
cython = "*"
configparser = "*"
mysqlclient = "*"
django-crispy-forms = "*"
django-allauth = "*"
jseg = "*"
jieba = "*"
pexpect = "*"
django-extensions = "*"
python-memcached = "*"
uwsgi = "*"
whitenoise = "*"
chardet = "*"
django-rq = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
ipython = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
