[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
max-allowed-packet=67108864

[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8mb4
init-connect='SET NAMES utf8'
collation-server = utf8mb4_unicode_ci
# innodb-flush-log-at-trx-commit=0