{% load static %}
<footer>
    <div class="top"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <img src="{% static 'images/copens_logo_black.svg' %}" class="logo" alt="">
                
                <div class="text">由<a href="http://lope.linguistics.ntu.edu.tw/" target="_blank">台灣大學語言學研究所LOPE實驗室</a>開發</div>
                
                <div class="text">
                    <img src="https://licensebuttons.net/l/by-nc-sa/3.0/tw/88x31.png">
                    <br>本著作係採用<br>創用 CC 姓名標示-非商業性-相同方式分享 3.0 台灣<br> 授權條款授權. 
                </div>
                <div class="text">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <h5>Helpful Links</h5>
                <ul class="footer-nav">
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>Features</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>FAQ’s</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <h5>Support</h5>
                <ul class="footer-nav">
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>Privacy Policy</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>Terms of Use</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>Support Center</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <h5>Contact Us</h5>
                <div class="address">
                    <p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
                    <p>Phone: (272) 211-7370</p>
                    <p><span>E-Mail:</span><a href="#">support@yourbrand.com</a></p>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">© 2018 COPENS. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
