{% load static %}
<header class="header-area {% if not home %} not-index-header {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'copens_static_pages:home' %}" class="logo">
              <img src="{% static 'images/copens_logo.svg' %}" class="light-logo" alt="COPENS" style="display: block;">

              {% if not home %}
              <img src="{% static 'images/copens_logo.svg' %}" class="dark-logo" alt="COPENS" style="display: none;">
              {% else %}
               <img src="{% static 'images/copens_logo_black.svg' %}" class="dark-logo" alt="COPENS" style="display: none;">
              {% endif %}
             
            </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'copens_static_pages:home' %}">首頁</a></li>
                        <li>
                            <a href="{% url 'copens_static_pages:query' %}">語料庫</a>
                        </li>
                        <!---
                        <li class="submenu">
                            <a href="{% url 'copens_static_pages:api_doc' %}">API</a>
                        </li>
                        -->
                        <li class="submenu">
                            <a href="#">關於 <i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="{% url 'copens_static_pages:about' %}">關於COPENS</a></li>
                                <li><a href="{% url 'copens_static_pages:term_of_use' %}">使用條款</a></li>
                                <li><a href="{% url 'copens_static_pages:contact' %}">聯絡我們</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                            <li id="user_submenu" class="submenu">
                                <a class="btn-nav" href="#">歡迎 {{ user.get_username }} <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="{% url 'create:home' %}">使用者後台</a></li>
                                    <li><form class="" method="POST" action="{% url 'account_logout' %}"><a href="#" onclick="$(this).closest('form').submit()">登出</a> {% csrf_token %}</form></li>
                                </ul>
                            </li>
                            
                                
                        {% else %}
                            <li><a class="btn-nav" data-toggle="modal" data-target="#loginModal">登入 | 註冊</a></li>
                        {% endif %}
                        
                    </ul>
                    <a class="menu-trigger" style="color: white">
              <span>Menu</span>
            </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>