{% extends 'copens_static_pages/generic/base.html' %}
{% load static %}
{% load account socialaccount %}
{% load i18n %}
{% block content %}
<section class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>登入</h2>
            </div>
        </div>
    </div>
</section>
<section style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h5 class="card-header">
                    	使用第三方登入
                    </h5>
                    <div class="card-body">
                        {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                        
                        <div class="socialaccount_ballot">
                            <ul class="socialaccount_providers">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>
                        </div>
                        {% include "socialaccount/snippets/login_extra.html" %}
                        {% else %}
                        <p>若您尚未創建帳號，請先行
                            <a href="{{ signup_url }}">註冊</a></p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<section>
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                	<h5 class="card-header">
                    	使用帳號密碼登入
                    </h5>
                    <div class="card-body">
                        <p>尚未擁有帳號？請先<a href="{{ signup_url }}">註冊新帳號</a></p>
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">忘記密碼</a>
                            <button class="primaryAction primaryAction btn btn-block btn-primary" type="submit">登入</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}