{% extends 'copens_static_pages/generic/base.html' %}
{% load static %}
{% load account socialaccount %}
{% load i18n %}

{% block page_header %}
註冊
{% endblock page_header %}

{% block content %}
<section style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="primaryAction btn btn-block btn-primary" type="submit">註冊 &raquo;</button>
                </form>
                </div>
              </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}