{% extends 'copens_static_pages/generic/base.html' %}

{% block page_header %}
    關於COPENS
{% endblock page_header %}

{% block content %}
<!-- ***** Features Small Start ***** -->
<section class="section content-section" style="">
    <div class="container">
        <div class="row" style="text-align: left">
            <!--        <div class="col-lg-12">
          <div class="row"> -->
            <!-- ***** Features Small Item Start ***** -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="features-small-item">
                <h5 class="features-title">COPENS是什麼？</h5>
                <p style="text-align:left">COPENS 是 Corpora Open and Search 的縮寫。它是一個開放語料庫與搜尋工具：動態更新、自動預處理、多種語料庫、簡潔查詢介面與自由標記。</p>
              </div>
            </div>
            <!-- ***** Features Small Item End ***** -->
            <!-- ***** Features Small Item Start ***** -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="3" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="features-small-item">
                <h5 class="features-title">理念</h5>
                <p style="text-align:left">隨著大數據時代的來臨以及開源精神的傳播，語言資源和學術研究應該是開放的、共享的。集思廣益才會帶動語言學界和其他領域共同茁成長，學術研究亦會隨著資源的開放而更加活絡。我們期待一個內容共享、工具共創、製程開放的新一代語料庫語言學。 </p>
              </div>
            </div>
            <!-- ***** Features Small Item End ***** -->
            <!-- ***** Features Small Item Start ***** -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.8s" data-scroll-reveal-id="4" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="features-small-item">
                <h5 class="features-title">關於Logo</h5>
                <p style="text-align:left">「蘿蔔」為"LOPEN"的諧音，而COPENS又為LOPEN計畫之一子項目。奔跑的蘿蔔象徵著年輕與活力，符合本實驗室的研究特質與精神。</p>
              </div>
            </div>
            <!-- ***** Features Small Item End ***** -->
            <!-- </div>
        </div> -->
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->
{% endblock content %}