{% extends 'copens_static_pages/generic/base.html' %}
{% block content %}
    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>聯絡我們</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="section content-section" id="toc-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>電子郵件</th>
                    <th>分工</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>謝舒凱老師</b></td>
                    <td>shukai@gmail.com</td>
                    <td>計畫發想、策劃、設計與一切</td>
                </tr>
                <tr>
                    <td>劉純睿(阿吉)</td>
                    <td>amigcamel@gmail.com</td>
                    <td>系統開發與網站建置</td>
                </tr>
                <tr>
                    <td>秦睿謙</td>
                    <td>ray40702@gmail.com</td>
                    <td>Brat API 撰寫</td>
                </tr>
                <tr>
                    <td>施孟賢(Simon)</td>
                    <td>simon.xian@gmail.com</td>
                    <td>同義詞開發</td>
                </tr>
                <tr>
                    <td>呂珮瑜(愛米粒)</td>
                    <td>emily.lulala@gmail.com</td>
                    <td>Logo設計</td>
                </tr>
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}