{% extends 'copens_static_pages/generic/base.html' %}
{% block content %}
<section class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>聯絡我們</h2>
            </div>
        </div>
    </div>
</section>
<section class="section content-section" id="toc-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-post-thumb">
                    <div class="blog-content" style="padding: 25px; text-align: left">
                        <h5>聯絡信箱: shukaihsieh@g.ntu.edu.tw</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="blog-post-thumb">
                    <div class="blog-content">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>分工</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>謝舒凱</b></td>
                                    <td>計畫發想、策劃、設計與一切</td>
                                </tr>
                                <tr>
                                    <td>劉純睿(阿吉)</td>
                                    <td>系統開發與網站建置</td>
                                </tr>
                                <tr>
                                    <td>秦睿謙</td>
                                    <td>Brat API 撰寫</td>
                                </tr>
                                <tr>
                                    <td>施孟賢</td>
                                    <td>同義詞開發</td>
                                </tr>
                                <tr>
                                    <td>呂珮瑜</td>
                                    <td>Logo設計</td>
                                </tr>
                                <tr>
                                    <td>李智堯</td>
                                    <td>系統開發與網站建置</td>
                                </tr>
                                <tr>
                                    <td>連大成</td>
                                    <td>系統開發與網站建置</td>
                                </tr>
                                <tr>
                                    <td>洪漢唐</td>
                                    <td>系統開發與網站建置</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock content %}