{% extends 'copens_static_pages/generic/base.html' %}
{% block page_header %}
語料庫查詢
{% endblock page_header %}
{% block content %}
{% load crispy_forms_tags %}
<section>
    <!-- <section style="padding: 30px 0"> -->
    <div class="container">
        {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for m in messages %}
            <p>{{ m }}</p>
            {% endfor %}
        </div>
        {% endif %}
        
        {% include 'copens_static_pages/generic/query_nav.html' with current="concordance" %}
        
        <!-- Concordance -->
        <div class="row">
            <div class="col s12 m8 l8">
                <div class="card z-depth-0">
                    <div class="card-content">
                        {{ form.errors }}
                        <form action="{% url 'static_pages:concordance_result' %}" method="get">
                            {{ form|crispy }}
                            <button class="btn btn-primary" type="submit">搜尋</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l4">

                <ul class="collection with-header">
                <li class="collection-header">關於搜尋字串</li>
                <!--
                <li class="collection-item">COPENS語料庫儲存與搜尋引擎係根據<a href="http://cwb.sourceforge.net/">CWB (The IMS Open Corpus
                                Workbench)</a>建置而成</li>
                            -->
                <li class="collection-item">有關CQL (Corpus Query Language)之使用可參閱<a href="http://cwb.sourceforge.net/files/CQP_Tutorial.pdf">CQP
                                Query Language Tutorial</a></li>
                </ul>

                <ul class="collection with-header">
                    <li class="collection-header">關於詞性標記(POS)</li>
                    <li class="collection-item">本網站使用<a href="http://ckipsvr.iis.sinica.edu.tw/papers/category_list.pdf">中研院平衡語料庫詞類標記系統</a></li>
                </ul>
                    
                    
            </div>
        </div>


</section>
{% endblock %}
{% block extra_js %}
<script>
// $('#window_size_value').text($('#id_context').val());
// $(document).on('input change', '#id_context', function() {
//     $('#window_size_value').html($(this).val());
// });
// $('#id_context').change(function (){
//     $('#window_size_value').text($('#id_context').val());
// })
</script>
{% endblock extra_js %}