{% extends 'copens_static_pages/generic/base.html' %}
{% block content %}
<section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>語料庫查詢</h2>
                </div>
            </div>
        </div>
    </section>
    <section style="padding: 30px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">輸入關鍵字</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="請直接輸入關鍵字，例如：台大">
                                    <small id="" class="form-text text-muted">
                              若要使用CQL，請在開頭輸入"cql:"，例：cql:[word="台大"]
                             </small>
                                </div>
                                <div>
                                    <label for="exampleFormControlInput1">選擇語料庫</label>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">新聞
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">中央通訊社
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">中研院平衡語料庫
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">社會網絡
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">PTT
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">噗浪
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">政治法律
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">總統文告
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">太陽花學運
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">立法院公報
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">兒童習得
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">台灣兒童語言語料庫
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">國小教科書
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">口語言談
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">台大口語語料庫
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">成語語料
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">網路新聞語料
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button style="margin-top:20px" type="button" class="btn btn-primary btn-block">Query</button>

                                
                        </div>
                        </form>
                    </div>
                </div>
            
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        CQL說明
                    </div>
                    <div class="card-body">
                        <p class="card-text">COPENS語料庫儲存與搜尋引擎係根據<a href="http://cwb.sourceforge.net/">CWB (The IMS Open Corpus Workbench)</a>建置而成
                        </p>
                        <br>
                        <p class="card-text">有關CQL (Corpus Query Language)之使用可參閱<a href="http://www.inf.ed.ac.uk/teaching/courses/inf1/da/2012-2013/tutorials/cqp-tutorial.pdf">CQP Query Language Tutorial</a></p>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    {% endblock %}