{% extends 'copens_static_pages/generic/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>使用者後台</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="section content-section" id="user-panel-section">
        <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">上傳語料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">使用自訂語料庫查詢</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">其他</a>
                        </li> -->
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <section>
                                        {% if messages %}
                                            <div class="alert alert-warning" role="alert">
                                                {% for m in messages %}
                                            <p>{{ m }}</p>
                                            {% endfor %}
                                            </div>
                                            
                                        {% endif %}
                                        
                                        <form action="{% url 'create:upload' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ forms.upload|crispy }}
                                            <button class="btn btn-primary" type="submit">Upload</button>
                                        </form>
                                    </section>
                                    <section>
                                        <h4>目前已上傳語料</h4>
                                        <table class="table table-hover table-sm">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">上傳日期</th>
                                                    <th scope="col">上傳時間</th>
                                                    <th scope="col">檔案名稱</th>
                                                    <th scope="col">檔案大小</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>2018-12-01</td>
                                                    <td>22:01:01</td>
                                                    <td>ptt.txt</td>
                                                    <td>2 MB</td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>2018-12-01</td>
                                                    <td>22:01:01</td>
                                                    <td>ptt.txt</td>
                                                    <td>2 MB</td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>2018-12-01</td>
                                                    <td>22:01:01</td>
                                                    <td>ptt.txt</td>
                                                    <td>2 MB</td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <section>
                            {% if no_corpus %}
                                <h1>請先上傳語料庫！</h1>
                            {% else %}
                            <form action="{% url 'create:results' %}" method="get">
                            {{ forms.search|crispy }}
                            <button class="btn btn-primary" type="submit">Search</button>
                            </form>
                            {% endif %}
                            </section>
                        </div>
                        <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}